@import "../lib/font.css";

header {
  margin: 0;
  height: 5rem;
  background-color: pink;
}

main {
  background-color: #ffd1c3;
}

.main-image {
  height: 35rem;
  background-color: #f3dfff;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 3rem;
}

.preview {
  background-color: white;
  min-height: 0%;
}
